.cartHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.Checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.order,
.order1,
.viewBag {
  max-width: 100px;
  background-color: #5ece7b;
  color: white;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  margin: 15px 0;
  display: inline-block;
}

.order:hover,
.order1:hover {
  background-color: #48a761;
}

.order {
  width: 100%;
  padding: 10px 20px;
}

.order1 {
  width: 45%;
  padding: 10px 10px;
}

.viewBag {
  width: 45%;
  background-color: transparent;
  color: black;
  padding: 10px 10px;
  border: 1px solid black;
  margin: 0 10px 0 0;
}

.cartActions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.overlayTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
